<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
	<header th:insert="plantilla/template :: header"></header>
!
	<div class="container">
		<h1>Listado de tus pedidos</h1>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a class="btn btn-success my-2 my-sm-0" th:href="@{'/confirmarPedido?idPedido='+${pedido.id}}">Confirma tu pedido</a> 
		</div>
		<table class="table mt-4">
			<thead class="thead-dark">
				<tr>
					<th style="visibility:collapse; display:none;" scope="col">id</th>
					<th scope="col">Prodúctos</th>
					<th scope="col">Precio</th>

					<th colspan="3" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mn:${menues}">
					<th style="visibility:collapse; display:none;"  scope="row" th:text="${mn.id}"></th>
					<td th:text="${mn.nombre}"></td>
					<td th:text="${mn.precio}"></td>
					<td width="10px">
						<form th:action="@{/eliminarPedidoUsuario}" method="post" onsubmit="return confirm('¿Quieres eliminar?')">
							<input type="hidden" name="id_menu" th:value="${mn.id}">
							<input type="hidden" name="id_pedido" th:value="${pedido.id}">

							<button type="submit" class="btn btn-danger btn-sm">Borrar</button>
						</form>
				</tr>

			</tbody>
		</table>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>